*{
    box-sizing: border-box;
    background: rgb(217, 209, 209);
}
main {
    margin: auto;
    font-family: 'Play', sans-serif;    
    width: 500px;
    text-shadow: 3px 2px 5px rgb(133, 137, 137);
}
h1, h2 {
    text-align: center;
    color: rgb(67, 49, 107);
    font-size: 40px;
}


ol {
    margin: 30px;
    padding: 30px;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: rgb(44, 108, 54);
    font-size: 30px;
}