*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 86, 15);
}
main{
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: beige;
}